<header>
    <div class="header__container">
      <div>
        <div class="title"><p>The Chessed Hub</p></div>
        <span class="mission"><p>Our mission is to help people in helping people</p></span>
      </div>
      <nav class="header__menu">
        <ul class="menu__list">
          <li class="meny__itemm">
            <a href="../index.html" class="menu__link">Home</a>
          </li>
          <li class="meny__itemm">
            <a href="../aboutus.html" class="menu__link">About Us</a>
          </li>
          <li class="meny__itemm">
            <a href="../g/login.html" class="menu__link">Donate</a>
          </li>
          <li class="meny__itemm">
            <a href="../contact.html" class="menu__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>