<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
  <link rel="stylesheet" href="./css/aboutus.css">
    <title>About us</title>
</head>
  <body style="background-image: url('./img/contactabout-background.png');">
  <%- include('./header'); %>
    <main>
        <h1>About Us</h1>
        <p>Welcome to The Chessed Hub, where giving is not just an act, but a way of life. 
            We believe that donation is essential for the betterment of society. It is a way of expressing kindness,
             generosity, and empathy towards those who are less fortunate. We understand that not everyone has the 
             means to fulfill their basic needs, and that's where we come in. Our mission is to bridge the gap between 
             those who have and those who have not, by collecting donations from those who are willing to give and
              distributing them to those in need.

            Over the years, we have worked tirelessly to create a network of donors and recipients, ensuring that
             every donation is used for a good cause. We have helped families who are struggling to make ends meet,
              children who are in need of educational supplies, and elderly individuals who require assistance 
              with their medical bills. We believe that no donation is too small, and every contribution can make
               a difference.
            
            Here we value transparency and accountability. We take great care to ensure that every donation is
             used for the intended purpose and that our donors are informed of how their contributions are being used
             . We believe that this level of transparency builds trust and strengthens our relationship with our donors.
            
            In conclusion, we believe that donation is important for the betterment of society and that every
             contribution can make a difference. We are grateful for the support of our donors and the trust they
              have placed in us. We look forward to continuing our mission of helping those in need through the power
               of donation.</p>
    </main>
    <footer>
    </footer>
</body>
</html>