<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
  <link rel="stylesheet" href="./css/contact.css">
    <title>About us</title>
</head>
  <body style="background-image: url('./img/contactabout-background.png');">
    <%- include('./header'); %>
    <main>
        <h1>Contact Us</h1>
        <div id="icons">
            <div><i class="fa-regular fa-envelope"></i></div>
            <div><i class="fa-brands fa-square-facebook"></i></div>
            <div><i class="fa-brands fa-instagram"></i></div>
            <div><i class="fa-brands fa-square-twitter"></i></div>
        </div>
        <p>.</p>
    </main>
    <footer>
    </footer>
</body>
</html>