<html>
<head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="../css/index.css">
    <title>The Chessed Hub</title>
</head>
<body style="background-image: url('./img/index-background.png');">
    <%- include('./header'); %>
    <main>
        <button> <a href="/login.html">Tell us how we can help you
            <p><i class="fa-regular fa-comment-dots"></i></p>
        <p>Click here</p></a> </button>
    </main>
    <footer>
    </footer>
</body>
</html>
