
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main {
    margin-top: 30vh;
    margin-bottom: 30vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
}

main h1, main h2, main h3, main p {
    margin-bottom: 26px;
    color: #0854c7;
}
