main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #407cd5;
}

#container, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

#container {
    margin-top: 20vh;
    height: 70vh;
}


form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

form div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.showBack {
    color: black;
}

 #container input {
    width: 350px;
    height: 1.4rem;
    color: #407cd5;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid #407cd5;
    padding: 16px;
}

#submitBtn {
    color: #407cd5;
    padding: 16px;
}

#container p, #container p a {
    color: #407cd5;
    font-size: 1.2rem;
}

#submitBtn {
    margin: 40px 0px;
    border-radius: 10px;
    border: 1px solid #407cd5;
}

@media screen and (max-width: 1050px) {

    form label {
        color: black;
    }

    form div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

}

@media screen and (max-width: 520px) {
    .field {
        flex-direction: column;
    }

    
    body {
        background-size:initial;
    }
}
