main {
    margin-top: 20vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1, main h2, main h3, main h4, main p, label {
    margin-bottom: 16px;
    color: #407cd5;
}

h2 {
    margin-top: 16px;
}

button {
    border: 1px solid  #407cd5;
    color: #407cd5;
    padding: 5px;
    border-radius: 5px;
}

button a {
  text-decoration: none;
}

textarea {
    font-size: 1.2rem;
    border: 1px solid #407cd5;
    border-radius: 10px;
}

#payment {
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

#payment div {
    display: flex;
    height: 10vh;
}

.hidden {
    display: none;
}