main {
    margin-top: 20vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1, main h2, main h3, main h4, main p, label {
    color: #407cd5;
    text-align: center;
}

main h1, main h2, main h3, main h4, main p {
margin-bottom: 16px;
}

h2 {
    margin-top: 16px;
}

button {
    border: 1px solid  #407cd5;
    color: #407cd5;
    padding: 5px;
    border-radius: 5px;
}

button a {
  text-decoration: none;
}

textarea {
    font-size: 1.2rem;
    border: 1px solid #407cd5;
    border-radius: 10px;
}

#payment div {
    display: flex;
    gap: 20px;
}

#payment img {
    height: 50px;
}

#payment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px;
}

.hidden {
    display: none !important;
}

#creditCardForm div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#creditCardForm div div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#creditCardForm  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#creditCardForm button {
    margin-top: 10px;
}

#transferInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (max-width: 600px) {
    #payment {
        grid-template-columns: 1fr;
    }


    #creditCardForm div {
        grid-template-columns: 1fr;
    }

    #transferInfo button, #creditCardForm button {
        margin-bottom: 20vh;
    }

    


}