main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #407cd5;
}

#container, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

#container {
    height: 50vh;
}

form {
    height: 40vh;
}

#submitBtn, #container input {
    color: #407cd5;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid #407cd5;
    padding: 16px;
}

#container p, #container p a {
    color: #407cd5;
    font-size: 1.2rem;
}

#submitBtn {
    border-radius: 10px;
    border: 1px solid #407cd5;
    background-color:  rgba(255,255,255,70%);
}

#overlay {
    display: none;
  }
  
@media screen and (max-width: 1200px) {

    #overlay {
        z-index: -1;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255,255,255,60%);
      }
}