<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./ghead'); %>
    <link rel="stylesheet" href="main.css">
    <title>Main Screen</title>
</head>
  <body style="background-image: url('./img/main-background.png');">
      <%- include('./gheader'); %>
      <main>
        <h1>Welcome <span id="giverName">name</span>!</h1>
        <h2>May god bless you for your act !</h2>
        <h3>Here is a list of stories of people you can help:</h3>
        <div id="stories">
            <button class="showMedium" id="sortDateBtn"><span class="hidden">Date </span>Sort by date <i class="hideMedium fa-solid fa-sort"></i></button>
            <button class="showMedium" id="sortAmntBtn">Sort by amount <i class="hideMedium fa-solid fa-sort"></i></button>
            <div class="rowDiv tableHead">
                <div><p></p></div>
                <div id="dateCol"><p>Date <i class="hideMedium fa-solid fa-sort"></i></p></div>
                <div class="hideMedium"><p>Story</p></div>
                <div id="amountCol"><p>Amount <i class="hideMedium fa-solid fa-sort"></i></p></div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script type="module" src="main.js"></script>
</body>
</html>